body {
  padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.modal-dialog {
    width: 30%;
    padding: 9px 15px;
}

.modal-header-success {
    background-color: #0480be;
 }


 .modal-header-warning {
    background-color: #ff4d4d;
 }

.paginate {
 display: inline-block;
}

.pagination {
 text-align: center;
 }

.paginate a {
 text-decoration: none;
 color: bronze;
 float: left;
 padding: 10px 10px;
}

.paginate a.active {
 background-color: lightblue;
 color: lightblue;
 border-radius: 10px;
}

.paginate a:hover:not(.active) {
 background-color: lightgray;
}
