{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h1>Todo List:</h1>
    <table class="table table-striped table-bordered table-hover">
        <th>#</th><th>User</th><th>Description</th><th>Status</th><th>Change Status</th><th>Delete</th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                {% if todo.complete == 0 %}
                    <td><span class="label label-default">In progress</span></td>
                {% else %}
                    <td><span class="label label-success">Completed</span></td>
                {% endif %}
                <td>
                    <form method="post" action="{{ url_for('toggle_status', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-primary">Click to change Status</button>
                    </form>
                </td>
                <td>
                <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header modal-header-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this item?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-danger">Yes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                </td>
            </tr>
        {% endfor %}
        </table>
        <div>
            <form name="form1" method="post" action="{{ url_for('todos_post') }}" >
                <input type="textbox" id ="des_id" name="description" class="small-6 small-center" placeholder="Description...">
                <button type="button" name="addButton" class="btn btn-sm btn-primary"  data-target="#AddModal" onclick="onSubmit()">Add</button>
                <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header modal-header-success">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="AddModalLabel">Confirmation</h4>
                      </div>
                      <div class="modal-body">
                          <p>Are you sure you want to add this item?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="NoDescModal" tabindex="-1" role="dialog" aria-labelledby="NoDescModalLabel">
                  <div class="modal-dialog " role="document">
                    <div class="modal-content">
                      <div class="modal-header modal-header-warning" >
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="AddModalLabel">Error</h4>
                      </div>
                      <div class="modal-body">
                          <p>Todo cannot be empty.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                      </div>
                    </div>
                  </div>
                </div>
            </form>

        </div>

</div>
{% endblock %}